#customize-controls .control-section-fino .accordion-section-title:hover,
#customize-controls .control-section-fino .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-fino .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-fino .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
/* ---------Customizer--------- */
.control-section-fino h3.accordion-section-title {
  	background: #d82c2c !important;
  	color: #fff !important;
}

#accordion-section-example_2 h3{
	background: #ffffff !important;
    color: #333 !important;
}
#accordion-section-example_2 h3 a{
	background: #31a3dd !important;
    color: #fff !important;
	box-shadow: 2px 2px 0px 0px #31a3dd;
    border: solid 1px #31a3dd;
}
a.button.button-secondary.alignright {
  	color: #fff;
    box-shadow: 2px 2px 0px 0px #333;
    border: solid 1px #333;
    border-bottom: none;
    background: #000;
    font-weight: bold;
}
a.button.button-secondary.alignright:hover {
	background: #eee;
	color: #000;
}